body html{
    background: #F9F9F9;
    color: #555;
    margin:0;
	padding:0;
	height: 100%;
}
.container{
    min-height: calc(100vh - 110px);
	position: relative !important;
}
#header{
    margin-top: 15px;
}
#menu{
    margin-top: 4%;
    text-decoration: none;
    font-size: 18px;
}
#menu a{
    text-decoration: none;
}
#content{
    margin-top: 10%;
}
.maxRight{
    float: right;
    text-align: center;
}
#middle {
	padding:10px;
    padding-bottom:60px;
}
#obrzek{
    text-align: center;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
    padding-bottom: 30px;
}
#footer{
	position: relative;
    height: 60px;
    clear: both;
    background-color: #f5f5f5;
}
.noLink{
    text-decoration: none;
    color: #555;
}
#center{
    text-align: center;
    margin: 0 auto;
}
.page-navigation a {
    font-size: 16px;
    margin-right: 5px;
}
table {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
